/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

/* add a logo in the header */
#header {
    background: url(../images/Capa02.png) no-repeat 2px;
    padding-left: 86px;
    color: #ffffff; /* Define a cor do texto no header para branco */
    background-size: cover;
    background-position: center;
}

/* move the project menu to the right */
#main-menu {
    left: auto;
    right: 0px;
}

#top-menu {
  background-color: #4f0070;
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-size: 9.6px;
  padding: 2px 10px 18px 12px;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
