/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);


.logoLelia {
    background: url(../images/logoLelia.png) no-repeat;
    /* background-size: cover; */
    width: 500px;
    height: 150px;
    position: absolute;
    margin-top: -35px;
    background-size: 350px;
    margin-left: -55px;
    
}

#login-form {
    margin: 5em auto 2em auto;
    padding: 20px;
    width: 340px;
    border: 1px solid #4F0070;
    background-color: #FFEBC1;
    border-radius: 4px;
    box-sizing: border-box;
}

.nodata, .warning {
    text-align: center;
    background-color: #C9BFE2;
    border-color: #4F0070;
    color: #ffffff;
}




#content {
    flex-grow: 1;
    background-color: #f3e7f7;
    margin: 0px;
    padding: 10px 16px 10px 16px;
    overflow-x: auto;
}

#activity h3 {
    padding: 5px;
   
}

#main-menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    
    margin: 0;
    padding: 4px 10px 4px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.h4, h4 {
    font-size: 1.2rem;
}

.h2, h2 {
    font-size: 26px;
    font-variant-caps: small-caps;
    font-weight: 700;
}

 #sidebar {
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 8px;
    background: #C9BFE2;
    border-left: 1px solid #ddd;
}

div.issue {
    background: #C9BFE2;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
}

div.issue div.subject h3 {
    margin: 0;
    margin-bottom: 0.1em;
    font-size: 22px;
}


/* add a logo in the header */

#header {
    background-color: #4f0070;
    padding-left: 86px;
    color: #ffffff; /* Define a cor do texto no header para branco */
    
    background-position: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    font-family: 'Montserrat', 'Verdana', sans-serif;
    padding-top: 45px;
    padding-bottom: 45px;
}

#header h1 {
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-weight: 700;
}

/* move the project menu to the right */
#main-menu {
    
    font-family: 'Montserrat', 'Verdana', sans-serif;
}

#top-menu {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(../images/Plano_de_Fundo02.png) no-repeat 2px;
  background-size: cover;
  
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-size: 9.6px;
  padding: 8px 18px 25px 8px;
}

#top-menu a {
    color: #fff;
    margin-right: 8px;
    font-weight: bold;
    font-size: 12px;
}



h2, h3 {
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-weight: 500 !important;
}

.footer-mulheres {
 
  background: #4F0070;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
}
.footer-mulheres-links {
  display: flex;
  align-items: center;
}
.footer-mulheres-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-mulheres .fa-heart {
  color: #D23333;
}

#footer {
  visibility: hidden;
  display: none;
}

body {
  min-height: 92vh;
}
